@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;  
  font-family: 'montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Brown Sugar', sans-serif;
}

.app {
  background: #6a7775;
}

.nav-link {
  font-family: 'Brown Sugar', sans-serif;
  font-size: 27px;
}

.nav-link:hover {
  color: #b6f3ea;
}

.nav-logo:hover {
  box-shadow: 0 0 15px #e6f6ee;

}

.image-container {
  position: relative;
  background-color: #e6f6ee;
}

.consult {
  padding: 4px 15px;
}

.text-container {
}

.teacher {
  right: -42%;
  bottom: 16%;
  z-index: 10;
}

.abt-btn {
  padding: 5px 50px;
}

.test-info {
  width: 29%;
  padding: 1rem;
}

.left-subscribe {
  width: 35%;
}

.right-subscribe {
  border: 50px solid #E7DFD8;
  background-color: #fff;
}

.subscribe-btn {
  background: #E7DFD8;
  padding: 5px 15px;
}

.site-header {
  font-family: 'Montserrat', sans-serif;
}

.bar {
  
  width: 50%;
  background-color: rgb(111, 161, 200);
}

form {
  width: 25%;
  box-shadow: 0 0 15px #6A7775;
  background: #6A7775;
}



input {
  border-radius: 10px;
}

.foot-icon:hover {
  box-shadow: 0 0 15px #6a7775;
}


/* #contact {
  border-bottom: solid #6a7775 3px;
} */

/* MEDIA QUERIES */

@media screen and (max-width: 780px) {

  .nav-container {
    height: 10vh;
    color: #6A7775;
  }

  .nav-icons {
    font-size: 22px;
  }

  .hero-container {
    flex-direction: column;
  }

  .teacher {
    display: none;
  }

  .hero-text {
    margin-left: 5px;
  }

  .about-grid {
    flex-direction: column;
    width: 90%;
    margin-left: 5px;
  }

  .about-text {
    width: 90%;
    padding: 10px;
  }

  .subscribe-container {
    flex-direction: column;
    justify-content: center;
  }

  .left-subscribe {
    margin-right: 0;
    width: 90%;
    margin-bottom: 10px;
    
  }

  .test-container {
    padding: 5px;

  }

  .test-container > h1{
    font-size: 25px;
  }

  .test-info {
    width: 85%;
  }

  .author {
    padding-bottom: 2px;
    text-align: center;
  }
 
  .subscribe-text {
    margin-left: 0;
  }
  .subscribe-text > p {
    padding-left: 7px;
  }

  .sites > h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  form {
    width: 80%;
  }

  footer .container {
    margin-left: 10px;
  }
}