@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #fff;
  font-family: 'montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cormorant Garamond', sans-serif;
}

.nav-icons {
  color: #e2c2b3;
}

.app {
  background: #403234;
}

.nav-link {
  font-family: 'Cormorant Garamond', sans-serif;
  font-size: 27px;
}

.nav-link {
  color: white;
  transition: .2s ease-in-out;
  cursor: pointer;
}

.nav-link:hover {
  color: #e2c2b3;
}

.nav-logo:hover {
  box-shadow: 0 0 15px #e2c2b3;

}

.hero {
  /* background: linear-gradient(#e2c2b3, #403234); */
  margin-bottom: 12rem;
}

.hero-img {
  box-shadow: 0 0 15px #e2c2b3;

}

.image-container {
  position: relative;
  background: linear-gradient(#e2c2b3, #403234);
  width: 600px;
  height: 600px;
}

.consult {
  padding: 2px 7px;
}

.text-container {
  margin-left: 8rem;
  margin-bottom: 2rem;
}

.banner {
  margin-bottom: 10rem;
}

/* .teacher {
  right: -45%;
  bottom: 15%;
  z-index: 10;
  background: linear-gradient(#403234, #896b6f);
  box-shadow: 0 0 15px #687477;

} */

.about {
  margin-bottom: 11rem;
}

.about-grid {
  box-shadow: 0 0 15px #e2c2b3;
  border-radius: 7px;

}

.abt-btn {
  padding: 5px 50px;
}

.test-info {
  width: 29%;
  padding: 1rem;
}

.sub-header {
  font-family: 'montserrat', sans-serif;
}

.left-empower {
  width: 35%;
}

.right-empower {
  /* border: 50px solid #e2c2b3; */

  background: linear-gradient(#403234, #e2c2b3);
}

.empower-btn {
  /* background: #403234; */
  padding: 5px 15px;
}

.site-header {
  font-family: 'Roboto', sans-serif;
}

.card {
  box-shadow: 0 0 15px #403234;
}

.bar {

  width: 50%;
  background-color: rgb(111, 161, 200);
}

form {
  /* width: 25%; */
  box-shadow: 0 0 15px #e2c2b3;
  /* background: #6A7775; */
}



input {
  border-radius: 10px;
}

.foot-icon:hover {
  box-shadow: 0 0 15px #403234;
}


/* #contact {
  border-bottom: solid #6a7775 3px;
} */

/* MEDIA QUERIES */

@media screen and (max-width: 780px) {

  .nav-container {
    height: 10vh;
    color: #6A7775;
  }

  .nav-icons {
    font-size: 22px;
  }

  .hero-container {
    flex-direction: column;
  }

  .hero-header {
    position: static;
  }

  .hero-text {
    margin-left: 5px;
  }

  .text-container {
    margin-left: 2rem;
  }

  .text-hero {
    margin-left: 2rem;
  }

  .image-container {
    width: 350px;
    height: 350px;
  }

  .hero-head {
    font-size: 55px;
  }

  .about-grid {
    flex-direction: column;
    width: 90%;
    margin-left: 5px;
  }

  .about-text {
    width: 90%;
    padding: 10px;
  }

  .empower-container {
    flex-direction: column;
    justify-content: center;
  }

  .left-empower {
    margin-right: 0;
    width: 90%;
    margin-bottom: 10px;

  }

  .test-container {
    padding: 5px;

  }

  .test-container>h1 {
    font-size: 25px;
  }

  .test-info {
    width: 85%;
  }

  .author {
    padding-bottom: 2px;
    text-align: center;
  }

  .empower-text {
    margin-left: 0;
  }

  .empower-text>p {
    padding-left: 7px;
  }

  .right-empower>img {
    width: 400px;
  }

  .sites>h1 {
    font-size: 35px;
    margin-bottom: 5px;
  }

  form {
    width: 80%;
    flex-direction: column;
  }

  footer {

    padding: 4rem;
  }

  footer>.container {
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }

  .foot-container {
    flex-direction: column;
  }
}